.SearchResults {
  margin-top: 10px;
}

.result {
  cursor: pointer;
  padding: 3px;
  vertical-align: middle;
  display: flex;
  align-items: center;

  &:hover {
    background: rgba(255,255,255,.3);
  }

  img {
    border-radius: 50%;
    margin-right: 10px;
  }
}
